* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #06121e;
}
#container {
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(rgba(6, 18, 30, 0.1), #06121e), url(assest/gg2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}

#container #imagem {
  padding: 2rem;
}

#container #hr-p {
  text-align: right;
  margin-top: -470px;
}

#container #HR {
  text-align: center;
  font-size: 20px;
  height: 40px;
  width: 200px;
  background-color: transparent;
  color: white;
  border-color: white;
}

#HR:hover {
  cursor: pointer;
}

#container #icon {
  text-align: left;
  
}

#fc {
  padding: 20px;
  cursor: pointer;
}

#in {
  padding: 20px;
  cursor: pointer;
}

#tw {
  padding: 20px;
  cursor: pointer;
}

#container #sobre {
  font-size: 25px;
  margin-top: 1rem;
  text-align: left;
  padding-left: 20rem;
  margin-top: 3rem;
  margin-top: 12rem;
}

#container #imagem-cabelo {
  text-align: right;
  position: relative;
  top: -25rem;
}

#container #text {
 color: white;
 font-size: 30px;
 font-family: arial;
 text-align: center;
}

#p {
  font-size:20px;
  padding: 10px;
  
}
#bt {
  padding: 50px;
}
#boton {
  font-size: 19px;
  height: 50px;
  width: 220px;
  color: white;
  background-color: rgb(216, 20, 20);
  border-color: transparent;
}

#boton:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.253);
}
#container #text2 {
  margin-left: 4rem;
  padding: 20px;
  font-size: 35px;
}

#sobre {
  color: white;
  text-align: center;
  margin-top: 200px;
  background-color: rgba(106, 115, 122, 0.61);
  height: 600px;
  
}

#titulo {
  padding: 20px;
  font-size: 50px;
  font-family: arial;
  font-weight: bold;
}

#p {
  margin-left: -600px;
  font-size: 19px;
}

#p2 {
  margin-left: 450px;
  margin-top: -240px;
  font-size: 19px;
}

#imagem2 {
  text-align: center;
}

#img {
  margin-left: -300px;
}

#img2 {
  margin-left: 400px;
  
}

#img3 {
  margin-right: 300px;
}